@import url("https://p.typekit.net/p.css?s=1&k=eqk2gym&ht=tk&f=27896.27898.27930.27931&a=3892707&app=typekit&e=css");

@font-face {
font-family:"ministry";
font-style:normal;
font-weight:300;
src: url("fonts/Ministry.ttf");
}


@font-face {
font-family:"ministry";
font-style:normal;
font-weight:400;
src: url("fonts/Ministry.ttf");
}

@font-face {
font-family:"ministry";
font-style:normal;
font-weight:500;
src: url("fonts/Ministry.ttf");
}

@font-face {
font-family:"ministry";
font-style:normal;
font-weight:700;
src: url("fonts/Ministry.ttf");
}


@font-face{
	font-family: SourceRegular;
	src: url("fonts/SourceRegular.ttf");
}

@font-face{
	font-family: SourceMedium;
	src: url("fonts/SourceMedium.ttf");
}

@font-face{
	font-family: SourceBold;
	src: url("fonts/SourceBold.ttf");
}

@font-face{
	font-family: SourceSemibold;
	src: url("fonts/SourceSemibold.ttf");
}

@font-face{
	font-family: SourceBlack;
	src: url("fonts/SourceBlack.ttf");
}

@font-face{
	font-family: "ministry";
	src: url("fonts/Ministry.ttf");
}