*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}


img{
	width: 100px;
}


body{}
header{}
.header__logo{}
.header__menu{}
.header__menu-item{}
.mainSobre{}
/*>>>>>>>>>>>>>bloco-> bloco-polos >>>>>>>>>>*/
.boxPolos{
	width: 100vw;
	height: 45rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E84710;
}
@media(max-width: 48rem){
	.boxPolos{
	width: 100vw;
	height: 170vh;
	}
}
.boxPolos-title{
	margin-bottom: 30px;
	font-size: 3.5em;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:700;
	color: #2C398C;
	border-color: 1px;
	text-align: center;
}
@media(max-width: 48rem){
	.boxPolos-title{
	margin-bottom: 30px;
	font-size: 2.5em;
	}
}
.boxPolos-text{}
.boxPolos-text{}
.boxPolos-container{
	
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
@media(max-width: 48rem){
	.boxPolos-container{
	height:140vh;
	}
}
.boxPolos-container-contentbox{
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
@media(max-width: 48rem){
	.boxPolos-container-contentbox{
	width: 60vw;
	margin-left: 12%;
	}
}
.boxPolos-container-img{
	width: 100%;
	margin-bottom: 5px;
	padding: 2px;
}
@media(max-width: 48rem){
	.boxPolos-container-img{
	width: 80vw;
	}
}
.boxPolos-container-subtitle{
	
	font-size: 2em;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:700;
	color: #FCAF17;
}
.boxPolos-container-ong{
	margin-bottom: 2%;
	font-size: 2em;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:700;
	color: #2E3292;
}
.boxPolos-container-adress{
	font-size: 1.3em;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;	
	color: #2E3292;
}

/*>>>>>>>>>>>>>>fim bloco-polos > inicio bloco-modulos >>>>>>>>>>>*/