*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
html{
	width: 100%;
}

img{
	width: 100%;
}

body{
	width: 100%;
}
header{
	width: 100%;
	height: 10vh;
	padding: 3%;
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 99;
}
.header__logo{
	width: 15vw;
	margin-top: 10%;
	margin-left: 2%;
}
.header__menu{
	width: 43%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu-item{
	font-size: 1.3vw;
	font-family: SourceBold;
	text-decoration: none;
	color: #070707;
}
/*>>>>>>>>>>>>>>>>>>prelude init >>>>>>>>>>>>>>>>>>>>>>>>
*/.prelude{
	height: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
@media(max-width: 48rem){
	.prelude{
	height: auto;
	align-items: center;
	padding-top: 15%;
	
	}
}
.prelude-white{
	width: 100%;
	height: 12.5rem;
	/*padding-bottom: 10%;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width: 48rem){
	.prelude{
		height: auto;

	}
}
.prelude-white__title{
	width: 32%;
	margin: 4% 0;
	padding-bottom: .80%;
	border-bottom: 6px solid #E84710;
	font-size: 3.8vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	text-align: center;
	color: #2E3192;
}
@media(max-width: 48rem){
	.prelude-white__title{
	font-size: 5vw;
	width: 43%;
	}
}

.prelude-blue{
	width: 100%;
	height: 12.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #2E3192;
}
.prelude-blue__box{
	min-width: 40vw;
	height: 20vh;
	margin-right: 3%;
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
@media(max-width: 48rem){
	.prelude-blue__box{
	width:90%;
	height: 20vh;
	margin-top: -1%;
	align-items: center;
	}
}
.prelude-blue__text{
	width: 50%;
	font-size: 1.7vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	justify-content: flex-end;
	text-align: right;
	color: #FFFFFF;
}
@media(max-width: 48rem){
	.prelude-blue__text{
	width: 100%;
	font-size: 4vw;
	}
}
.prelude-blue__name-Igor{
	font-size: 2vw;
	font-family:SourceBold;
	text-align: right;
	color: #FCAF17;
}
@media(max-width: 48rem){
	.prelude-blue__name-Igor{
	font-size: 4vw;
	}
}
.prelude-blue__job-Igor{
	font-size: 1vw;
	font-family:SourceBold;
	text-align: right;
	color: #E84710;
}
@media(max-width: 48rem){
	.prelude-blue__job-Igor{
	font-size: 3vw;
	}
}
.prelude-blue__img-Igor{
	width: 15vw;
	margin-top: -10%;
  	/*height: 10vh*/;
	border-radius: 50%;
}
@media(max-width: 48rem){
	.prelude-blue__img-Igor{
	z-index: 1;
	position: absolute;
	min-width: 40%;
	margin-top: -30%;
	align-items: center;
	}
}
/*>>>>>>>>>>>>>fim prelude> init description >>>>>>>>>>*/
.pumpkinbox{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FCAF17;
}
@media(max-width: 48rem){
	.pumpkinbox{
	position: relative;

		}
	}
.pumpkinbox__part1{
	width: 90%;
	height: 90vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 5vh;
}
@media(max-width: 48rem){
	.pumpkinbox__part1{
	height: auto;
	flex-direction: column;
	justify-content:space-between;
	}
}
.pumpkinbox-headline{
	font-size: 2.8vw;
	font-family:SourceBold;
	color: #2E3192;
}
@media(max-width: 48rem){
	.pumpkinbox-headline{
	font-size: 4vw;
	padding-bottom: 2%;
	}
}
.pumpkinbox__part1-bloc1{
	width: 90vw;
/*	padding-left: 5vh;
*/	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-between;
}
@media(max-width: 48rem){
	.pumpkinbox__part1-bloc1{
	flex-direction: column;
	}
}
.pumpkinbox-text1{
	width: 45%;
	padding: 1%;
	font-size: 1.6vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #000000;
}
@media(max-width: 48rem){
	.pumpkinbox-text1{
	width: 100%;
	font-size: 3vw;
	}
}
.pumpkinbox-img-1{
	width: auto;
	padding-top: 1%;
}
@media(max-width: 48rem){
	.pumpkinbox-img-1{
	width: 100%;
	}
}
.pumpkinbox__part2{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 5vh;
}
@media(max-width: 48rem){
	.pumpkinbox__part2{
	height: auto;
	flex-direction: column;
	justify-content:space-between;
	}
}
.pumpkinbox__part2-bloc2{
	width: 38%;
	margin-left: 5%;
	margin-bottom: -3%;
	display: flex;
	flex-flow: column;
}
@media(max-width: 48rem){
	.pumpkinbox__part2-bloc2{
	width: 90%;
	margin-bottom: 3%;
	flex-direction: column;
	}
}
.pumpkinbox__part2-bloc3{
	width: 50%;
	height: auto;
	margin-bottom: 5%;
}
@media(max-width: 48rem){
	.pumpkinbox__part2-bloc3{
	width: 90%;
	margin-left: 4%;
	flex-direction: column;
	}
}
.pumpkinbox-text2{
	width: 90%;
	padding-top: 3%;
	font-size: 1.6vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #000000;
}
@media(max-width: 48rem){
	.pumpkinbox-text2{
	width: 100%;
	font-size: 3vw;
	}
}
/*>>>>>>>>>>>>>inicio bloco polos >>>>>>>>>>>>>>>>>>>>>>>>>*/
.boxPolos{
	height: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background-color: #E84710;*/
}
@media(max-width: 48rem){
	.boxPolos{
		margin-top: 10%;
	height: auto;
	padding-bottom: 3vh;
	margin-bottom: 3vh;
	}
}
.boxPolos-title{
	margin: 4% 0;
	padding-bottom: .80%;
	border-bottom: 6px solid #E84710;
	margin-bottom: 30px;
	font-size: 3.8vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #2C398C;
	border-color: 1px;
	text-align: center;
}
@media(max-width: 48rem){
	.boxPolos-title{
	margin-bottom: 30px;
	font-size: 5vw;
	}
}
.boxPolos-text{
	width: 50%;
	height: auto;
	margin-bottom: 3%; 
	font-size: 1.2vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	text-align: center;
	color: #2E3192;
}
@media(max-width: 48rem){
	.boxPolos-text{
	width: 90%;
	height: auto;
	font-size: 4vw;
	}
}
.boxPolos-container{
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
@media(max-width: 48rem){
	.boxPolos-container{
	height:auto;
	flex-direction: column;
	}
}
.boxPolos-container-contentbox{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start
	justify-content: space-between;
}
@media(max-width: 48rem){
	.boxPolos-container-contentbox{
	width: 90%;
	height: auto;
	align-items: center;
	}
}
.boxPolos-container-img{
	width: 80%;
	margin-bottom: 5px;
	padding: 2px;
}
@media(max-width: 48rem){
	.boxPolos-container-img{
	width: 80vw;
	}
}
.boxPolos-container-subtitle{
	font-size: 2em;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #2C398C;
}
@media(max-width: 48rem){
	.boxPolos-container-subtitle{
	font-size: 1.7em;
	}
}
.boxPolos-container-ong{
	margin-bottom: 2%;
	font-size: 1.5em;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #222222;
}
@media(max-width: 48rem){
	.boxPolos-container-ong{
	font-size: 1.5em;
	}
}
.boxPolos-container-adress{
	font-size: 1.3em;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;	
	color: #2E3292;
}
@media(max-width: 48rem){
	.boxPolos-container-adress{
	width: 90%;
	font-size: 1em;
	}
}
/*>>>>>>>>>>>>>>fim bloco-polos > inicio timBern >>>>>>>>>>>*/
.timBern-container{
	/*width: 100%;*/
	height:30rem;
	display: flex;
	justify-content: space-around; 
	align-items: center;
	position: relative;
}
@media(max-width: 48rem){
	.timBern-container{
	/*width: 90%;*/
	height:auto;
	padding:5% 0;	
	flex-direction: column;
	}
}
.timBern-img{
	width: 60%;
/*	background-color: red;
*/}
@media(max-width: 48rem){
	.timBern-img{
		width: 90%;
		align-self: flex-start;
	}
}
/*.timBern-circle{
	position: absolute;
	width: 30vw;
	height: 70vh;
	margin-left: -15%;
	margin-top: -5%;
	opacity: 0.50;
	border-radius: 50%;
	background-color: orange;
}
@media(max-width: 48rem){
	.timBern-circle{
		width: 165px;
		height: 165px;
		margin-left: 25%;
		margin-top: -35%;
	}
}*/
.timBern-caixa-text{
	width:45%;
}
@media(max-width: 48rem){
	.timBern-caixa-text{
		width: 90%;
		margin-top: 4%;
	}
}
.timBern-caixa__text1{
	font-size: 2vw;
	font-family:SourceBold;
	text-align: left;
	color: #e84710;
}
@media(max-width: 48rem){
	.timBern-caixa__text1{
	font-size: 4vw;
	}
}
.timBern-caixa__text2{
	font-size: 2vw;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: left;
	color: #2E3192;
}
@media(max-width: 48rem){
	.timBern-caixa__text2{
		font-size: 4vw;
		margin-top: 4%;
	}
}
.timBern-caixa__text3{
	font-size: 2vw;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: left;
	color: #222222;
}
@media(max-width: 48rem){
	.timBern-caixa__text3{
		font-size: 4vw;
		margin-top: 4%;
	}
}

/*>>>>>>>>>>>>>>fim bloco-polos > inicio bloco-modulos >>>>>>>>>>>*/
.rodape{}
.rodape-fundo{
	width: 100%;
	height: 75vh;
	background: url(assets/rodape.png) no-repeat center top;
	background-size: 100%;
}
.rodape-informacoes{
	width: 100%;
	height: 40vh;
	background-color: #FCAF17;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.rodape-informacoes-redes{
	/*width: 30%;*/
	height: 100%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.rodape-informacoes-redes__paragrafo{
	/*width: 75vw;*/
	font-size: 1.2vw;
	font-family: SourceSemibold;
}
.rodape-informacoes-redes__icones{
	width: 15vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.rodape-informacoes-redes__icones-item{
	width: 50%;
	margin-right: 15%;
}
.rodape-paginas{
	width: 20vw;
	height: 100%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.rodape-paginas__link{
	font-size: 1.3vw;
	font-family: SourceRegular;
	color: #000;
	text-decoration: none;
}
.rodape-parceiros{
	width: 45vw;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.rodape-parceiros-apoio{
	min-width: 10vw;
	height: 50%;
}
.rodape-parceiros-apoio__titulo{
	margin-bottom: 5%;
	font-family: SourceMedium;
	font-size: 1vw;
}
.rodape-parceiros-apoio__logo{
	width: 8vw;
	margin-top: 3%;
}
.rodape-parceiros-apoio__logos{
	/*width: 100vw;*/
	height: 70%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.rodape-parceiros-apoio__logos-logo{
	height: 7vh;
}
.rodape-creditos{
	width: 100%;
	height: 8vh;
	background-color: #E84710;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rodape-creditos__paragrafo{
	font-size: 1.1vw;
	font-family: SourceMedium;
	color: #fff;
}
.rodape-creditos__logo{
	width: 5vw;
	margin: 0 1%;
	
}
