*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
html{
	width: 100%;
}

body{
	width: 100%;
}
/*header{
	width: 100%;
	height: 10vh;
	padding: 3%;
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 99;
}
.header__logo{
	width: 15vw;
	margin-top: 10%;
	margin-left: 2%;
}
.header__menu{
	width: 43%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu-item{
	font-size: 1.3vw;
	font-family: SourceBold;
	text-decoration: none;
	color: #070707;
}*/
/*>>>>>>>>>>>>>>>>>>prelude init >>>>>>>>>>>>>>>>>>>>>>>>
*/.prelude{
	min-height: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: auto;
}
@media(max-width: 768px){
	.prelude{
	height: auto;
	align-items: center;
	padding-top: 15%;
	margin-bottom: auto;
	}
}
.prelude-white{
	width: 100%;
	min-height: 18.5rem;
	/*padding-bottom: 10%;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width: 768px){
	.prelude-white{
		min-height: 170px;
	}
}
.prelude-white__title{
	width: 30%;
	margin: 4% 0;
	padding-bottom: .80%;
	border-bottom: 6px solid #E84710;
	font-size: 3.5vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	text-align: center;
	color: #2E3192;
}
@media(max-width: 768px){
	.prelude-white__title{
	font-size: 7.5vw;
	width: 70%;
	}
}

.prelude-blue{
	width: 100%;
	min-height: 30vh;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #2E3192;
}
@media(max-width: 768px){
	.prelude-blue{
		min-height: 40vh;
		flex-direction: column;
		justify-content: flex-start;
	}
}
.prelude-blue__box_box1{
	width: 20%;
	margin-top: -150px;
}
@media(max-width: 768px){
	.prelude-blue__box_box1{
		width: 60%;
		margin-top: -60px;
	}
}
@media(min-width: 1200px){
	.prelude-blue{
		min-height: 50vh;
	}
	.prelude-blue__box_box1{
		width: 15%;
		margin-top: -250px;
	}
}
.prelude-blue__img-Igor{
	width: 100%;
	border-radius: 100%;
}
@media(max-width: 768px){
	.prelude-blue__img-Igor{
		margin-bottom: 0;
		/*z-index: 1;*/
		/*position: relative;*/
		/*min-width: 100%;*/
		/*margin-top: -30%;*/
		/*align-items: center;*/
	}
}
.prelude-blue__box_box2{
	width: 50%;
	margin-right: 50px;
	display: flex;
	flex-flow:  column nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
}
@media(max-width: 768px){
	.prelude-blue__box_box2{
		width: 84%;
		margin-right: 0;
		justify-content: center;
		align-items: center;
		padding-bottom: 18%;
	}
}
.prelude-blue__text{
	font-size: 1.7vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	text-align: right;
	color: #FFFFFF;
}
@media(max-width: 768px){
	.prelude-blue__text{
	margin-top: 40px;
	width: 100%;
	font-size: 5.2vw;
	order: 1;
	text-align: left;
	}
}
.prelude-blue__name-Igor{
	font-size: 2vw;
	font-family:SourceBold;
	text-align: end;
	color: #FCAF17;
}
@media(max-width: 768px){
	.prelude-blue__name-Igor{
	font-size: 5vw;
	margin-top: 8px;
	}
}
.prelude-blue__job-Igor{
	font-size: 1vw;
	font-family:SourceBold;
	text-align: end;
	color: #E84710;
}
@media(max-width: 768px){
	.prelude-blue__job-Igor{
	font-size: 3.5vw;
	}
}
.prelude-blue__job-igor-a{
	text-decoration: none;
	color: #E84710;
}
/*>>>>>>>>>>>>>fim prelude> init description >>>>>>>>>>*/
.pumpkinbox{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FCAF17;
}
@media(max-width: 768px){
	.pumpkinbox{
	position: relative;

		}
	}
.pumpkinbox__part1{
	width: 90%;
	min-height: 90vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 5vh;
}
@media(max-width: 768px){
	.pumpkinbox__part1{
	height: auto;
	flex-direction: column;
	justify-content:space-between;
	}
}
@media(min-width: 1500px){
	.pumpkinbox__part1{
		margin-bottom: 20px;
	}
}
.pumpkinbox-headline{
	margin-bottom: 10px;
	font-size: 2.8vw;
	font-family:SourceBold;
	color: #2E3192;
}
@media(max-width: 768px){
	.pumpkinbox-headline{
	font-size: 4.8vw;
	/*padding-bottom: 2%;*/
	}
}
.pumpkinbox__part1-bloc1{
	width: 90vw;
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	justify-content: space-between;
}
@media(max-width: 768px){
	.pumpkinbox__part1-bloc1{
	flex-direction: column;
	}
}
.pumpkinbox__part1-bloc2{
	width: 80%;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: ;
	flex-flow: column nowrap;
}
.pumpkinbox-text1{
	/*width: 70%;*/
	margin-top: 20px;
	font-size: 1.6vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #000000;
}
@media(max-width: 768px){
	.pumpkinbox-text1{
	width: 100%;
	font-size: 3vw;
	}
}
.span{
	margin-top: 60px;
}
@media(max-width: 768px){
	.span{
		margin: 20px 0 30px 0;
	}
}
.pumpkinbox-img-1{
	width: 55%;
	padding-top: 1%;
}
@media(max-width: 768px){
	.pumpkinbox-img-1{
	width: 100%;
	}
}
.pumpkinbox__part2{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 5vh;
}
@media(max-width: 768px){
	.pumpkinbox__part2{
	height: auto;
	flex-direction: column-reverse;
	justify-content:space-between;
	}
}
.pumpkinbox__part2-bloc2{
	width: 38%;
	margin-left: 5%;
	margin-bottom: -3%;
	display: flex;
	flex-flow: column;
}
.pumpkinbox-img-2{
	width: 100%;
}
@media(max-width: 768px){
	.pumpkinbox__part2-bloc2{
	width: 90%;
	margin-bottom: -50px;
	flex-direction: row;
	align-items: flex-start;
	}
	.pumpkinbox-img-2{
		width: 50%;
	}
}
.pumpkinbox__part2-bloc3{
	width: 50%;
	height: auto;
	margin-bottom: 5%;
}
@media(max-width: 768px){
	.pumpkinbox__part2-bloc3{
	width: 90%;
	margin-left: 4%;
	flex-direction: column;
	}
}
.pumpkinbox-text2{
	width: 90%;
	margin-top: 26px;
	padding-top: 3%;
	font-size: 1.6vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #000000;
}
@media(max-width: 768px){
	.pumpkinbox-text2{
	width: 100%;
	font-size: 3vw;
	margin: 10px 0 20px 0;
	}
}
/*>>>>>>>>>>>>>inicio bloco polos >>>>>>>>>>>>>>>>>>>>>>>>>*/
.boxPolos{
	min-height: 50rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background-color: #E84710;*/
}
@media(max-width: 768px){
	.boxPolos{
		margin-top: 10%;
		height: auto;
		padding-bottom: 3vh;
		margin-bottom: 3vh;
	}
}
.boxPolos-title{
	margin: 4% 0;
	padding-bottom: .80%;
	border-bottom: 6px solid #E84710;
	margin-bottom: 30px;
	font-size: 3.8vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #2C398C;
	border-color: 1px;
	text-align: center;
}
@media(max-width: 768px){
	.boxPolos-title{
	margin: 40px 0;
	font-size: 5vw;
	}
}
.boxPolos-text{
	width: 50%;
	height: auto;
	margin-bottom: 3%; 
	font-size: 1.2vw;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	text-align: center;
	color: #2E3192;
}
@media(max-width: 768px){
	.boxPolos-text{
	width: 90%;
	height: auto;
	font-size: 4vw;
	}
}
.boxPolos-container{
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
@media(max-width: 768px){
	.boxPolos-container{
	height:auto;
	flex-direction: column;
	}
}
.boxPolos-container-contentbox{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start
	justify-content: space-between;
}
@media(max-width: 768px){
	.boxPolos-container-contentbox{
	width: 90%;
	height: auto;
	align-items: center;
	}
}
.boxPolos-container-img{
	width: 80%;
	margin-bottom: 5px;
	padding: 2px;
}
@media(max-width: 768px){
	.boxPolos-container-img{
	width: 80vw;
	}
}
.boxPolos-container-subtitle{
	font-size: 2em;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #2C398C;
}
@media(max-width: 768px){
	.boxPolos-container-subtitle{
	font-size: 1.7em;
	}
}
.boxPolos-container-ong{
	margin-bottom: 2%;
	font-size: 1.5em;
	font-family:"ministry";
	font-style:normal;
	font-weight:400;
	color: #222222;
}
@media(max-width: 768px){
	.boxPolos-container-ong{
	font-size: 1.5em;
	}
}
.boxPolos-container-adress{
	font-size: 1.3em;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;	
	color: #2E3292;
}
@media(max-width: 768px){
	.boxPolos-container-adress{
	width: 90%;
	font-size: 1em;
	}
}
/*>>>>>>>>>>>>>>fim bloco-polos > inicio timBern >>>>>>>>>>>*/
.timBern-container{
	/*width: 100%;*/
	min-height:30rem;
	margin-bottom: 5%;
	display: flex;
	/*flex-flow: row wrap;*/
	justify-content: flex-start; 
	align-items: center;
	position: relative;
}
@media(max-width: 768px){
	.timBern-container{
	/*width: 90%;*/
	height:auto;
	padding:5% 0;	
	flex-direction: column;
	}
}
.timBern-img{
	height: 90vh;
	margin-left: -2%;
/*	background-color: red;
*/}
@media(max-width: 768px){
	.timBern-img{
		width: 90%;
		height: auto;
		align-self: flex-start;
	}
}
/*.timBern-circle{
	position: absolute;
	width: 30vw;
	height: 70vh;
	margin-left: -15%;
	margin-top: -5%;
	opacity: 0.50;
	border-radius: 50%;
	background-color: orange;
}
@media(max-width: 768px){
	.timBern-circle{
		width: 165px;
		height: 165px;
		margin-left: 25%;
		margin-top: -35%;
	}
}*/
.timBern-caixa-text{
	width:40%;
}
@media(max-width: 768px){
	.timBern-caixa-text{
		width: 90%;
		margin-top: 8%;
	}
}
.timBern-caixa__text1{
	font-size: 2vw;
	font-family:SourceBold;
	text-align: left;
	color: #e84710;
}
@media(max-width: 768px){
	.timBern-caixa__text1{
	font-size: 5vw;
	}
}
.timBern-caixa__text2{
	font-size: 2vw;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: left;
	color: #2E3192;
}
@media(max-width: 768px){
	.timBern-caixa__text2{
		font-size: 5vw;
		margin-top: 4%;
	}
}
.timBern-caixa__text3{
	font-size: 2vw;
	font-family:ministry, sans-serif;
	font-style:normal;
	font-weight:400;
	text-align: left;
	color: #222222;
}
@media(max-width: 768px){
	.timBern-caixa__text3{
		font-size: 4vw;
		margin-top: 4%;
	}
}

